{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}

    {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'erp/styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'erp/styles/bootstrap.css' %}">
</head>
<body>
<header>
    <h1>CONTROLA CONTROLA</h1>
    {% block header-content %}
    {% endblock %}
</header>
{% block body-content %}

{% endblock %}
</body>
</html>