{% extends 'erp/base/base.html' %}

{% block title %}
    <title>ERP SYSTEM</title>
{% endblock %}

{% block body-content %}

    <p>HW</p>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for event in events %}
                {% if event.danila_req == True and not danila %}

                {%  else %}

                    <a href="{%  url 'event-name' event.id %}"><h2>{{ event.event }}</h2></a>

                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

